<nav class="navbar navbar-expand navbar-light bg-light">
  <span class="navbar-brand">Angular Basic</span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Stock
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/pokemon"
        routerLinkActive="active"
      >
        Pokemon
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/auth"
        routerLinkActive="active"
      >
        Authentication
      </a>
    </li>
  </ul>
</nav>
<div class="container-fluid my-3">
  <router-outlet></router-outlet>
</div>
