<div class="row">
  <div class="col-md-12">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="">Item Name</label>
        <input
          type="text"
          class="form-control"
          autofocus
          #nameInput
          formControlName="name"
          [ngClass]="{'is-invalid': form.get('name').invalid && (form.get('name').dirty || formSubmitted)}"
        >
      </div>
      <div class="form-group">
        <label for="">Item Qty</label>
        <input
          type="text"
          class="form-control"
          formControlName="qty"
          [ngClass]="{'is-invalid': form.get('qty').invalid && (form.get('qty').dirty || formSubmitted)}"
        >
      </div>
      <button
        type="submit"
        class="btn btn-primary form-control"
        (click)="onSubmit()"
      >
        Add
      </button>
    </form>
  </div>
</div>
