/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: Arial;
}

.pointer {
  cursor: pointer;
}

.error {
  font-size: 80%;
  color: #dc3545;
}
